@media (min-width: 768px) {
    .DoctorDash .report-cards .icon-card {
        margin: 50px;
    }
}

.DoctorDash .text-greet {
    text-shadow: 2px 2px 4px #000000;
}

.DoctorDash .bordershadow:hover {
    box-shadow: 0 0 8px 3px #3498db;
}
