/* YourComponent.css */
.time-slot-options {
  display: flex;
  flex-wrap: wrap;
}

.time-slot-row {
  display: flex;
  gap: 10px;
}

.time-slot-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.time-slot-option.selected {
  background-color: #f0f0f0;
}
